<footer>
<div id="main-footer">
  <div class="container">
  <div class="g2">
  <h4>Kenvak</h4>
  <p>Our mission is to represent the brightest talent in the tech industry so they can focus on what they do best.</p>
  <!-- <h5>|{ <span>MMXIV</span> }|</h5> -->
  </div><!--/g2-->
  <div class="g2">
  <h4>Join our newsletter</h4>

    <form action="http://kennedysgarage.createsend.com/t/r/s/ttjlfh/" method="post">
      <ul>
        <li><input id="fieldEmail" name="cm-ttjlfh-ttjlfh" type="email" required placeholder="Your email address..."/></li>
        <li><button type="submit"><i class="ss-icon ss-standard">&#xE350;</i></button></li>
      </ul>
    </form>

  </div><!--/g2-->
  </div><!--/container-->
</div><!--/main-footer-->

  <div id="sub-footer">
  	<div class="container">
  	<div class="g4">
  		<p>&copy; Kenvak 2014. All Rights reserved.</p>
  		<ul id="social">
  			<li><a href="https://twitter.com/kenvakmgmt"><i class="ss-icon ss-social-circle">&#xF611;</i></a></li>
  			<li><a href="https://www.facebook.com/kenvakmgmt"><i class="ss-icon ss-social-circle">&#xF610;</i></a></li>
  			<li><a href="mailto:hello@kenvak.com"><i class="ss-icon ss-social-circle">&#x2709;</i></a></li>
  		</ul>
  	</div><!--/g4-->
  	</div><!--/container-->
  </div><!--/sub-footer-->
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/jquery-1.9.0.min.js"><\/script>')</script>
{% javascript script %}
</body>
</html>
