/* ========================================================= Typography ===*/
h1{
  color: #262629;
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 30px;
}
h2{
  color: #262629;
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 41px;
  font-weight: 500;
  margin: 0 0 5px;
  padding: 0;
}
h3{
  color: #262629;
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin: 0 0 5px;
}
h4{
  color: #262629;
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin: 5px 0;
}
h5{
  color: #262629;
  font-family: 'ProximaNovaBold', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 5px 0;
}
p{
  color: #414145;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 1em;
}
strong{
  color: #262629;
}
ul{
  margin: 0 0 20px;
}
li{
  color: #414145;
  font-family: 'ProximaNova', sans-serif;
  font-size: 17px;
  line-height: 1.5;
}
dl{
  color: #414145;
  font-family: 'ProximaNova', sans-serif;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 0 10px;
}
dt{
  font-weight: bold;
}
dd{
  color: #A9A9A9;
  font-size: 15px;
  margin: 0 0 10px 10px;
}
blockquote {
  background-color: #eee;
  padding: 10px 15px 10px 15px;
  margin: 0 0 20px;
  border-left: 5px solid #aaa;
}
blockquote p {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.4;
}
blockquote small {
  display: block;
  color: #A9A9A9;
}
/*.title h2{
  font-family: 'ProximaNova',sans-serif;
  font-size: 41px;
  font-weight: 400;
  margin: 5px 0 5px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.subtitle{
  border-bottom: 1px solid #a4aaae;
  float: left;
  margin: 0 0 20px;
  padding: 40px 1em 0;
  width: 100%;
}*/
